.content
	#about.about.row.justify-content-between.px-0.mx-0
		.about_col.p-0
			h1 София Поварницина,
			h3 Front-end
			p(data-aos="fade-up") Мне нравится создавать что-то, люблю и умею работать в команде. Учеба в Политехе заложила хорошую
				| базу, а дальше я изучала технологии сама. За год работа в агенстве по созданию сайтов, я научилась работать
				| по поставленным задачам, задавать вопросы прежде чем начать работу (для меня важно понять
				| полностью, что именно от меня хотят).
		.about_col.flex-column.d-flex.p-0(data-aos="fade-down")
			a(href='mailto:povarnitcina.sonya@gmail.com') povarnitcina.sonya@gmail.com
			a(href='tel:+7 (931) 364-29-21') +7 (931) 364-29-21
			p г. Санкт-Петербург
			// TODO sharing
			.row.p-0.m-0
				.col-auto.about_col-link
					a(href='#')
						img(src='/images/sprites/svg/fb.svg')
				.col-auto.about_col-link
					a(href='#')
						img(src='/images/sprites/svg/vk.svg')
				.col-auto.about_col-link
					a(href='#')
						img(src='/images/sprites/svg/tg.svg')
