.content
	#experience.experience
		.row.m-0.p-0
			img(src='/images/experience_before.png').experience--before
			img(src='/images/experience_before--small.png').experience--before.small
		.row.m-0
			.experience_col.standing
				h4(data-aos="fade-down") Опыт работы
				.experience_col_inner(data-aos="fade-up-right")
					p.experience_col_inner--date Июль 2019
					.experience_col_inner--row
						| Freelance Designer
						img(src='/images/experience_fyb.png')
					p.experience_col_inner--text Netherlands, Worldwide
					p.experience_col_inner--text Available for a project or job in UX/UI, Visual and Product design.
					a(href='#') Commercial tryouts
					a(href='#') Personal projects
				.experience_col_inner(data-aos="fade-up-right")
					p.experience_col_inner--date Январь 2017 - Сентябрь 2018
					.experience_col_inner--row
						| Digital Designer
						img(src='/images/experience_bp.png')
					.experience_col_inner--row.align-items-center
						img(src='/images/experience_company1.png').px-0
						p  J Creative Solutions
						p.thin Digital agency in Minsk, Belarus
					p.experience_col_inner--text
						| Created visuals for digital marketing channels such as social media, promo web and
						| online ads. Developed visual language from scratch or following the branding guidelines. Designed
						|presentations
						br
						|for clients and indoor purposes.
					a(href='#') Agency projects
				.experience_col_inner(data-aos="fade-up-right")
					p.experience_col_inner--date Март 2014 - Февраль 2017
					.experience_col_inner--row
						| SEO Specialist → Lead SEO Specialist
						img(src='/images/experience_ob.png')
					.experience_col_inner--row.align-items-center
						img(src='/images/experience_company2.png').px-0
						p  OZ.by
						p.thin Online bookstore in Minsk, Belarus
					p.experience_col_inner--text Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team,
						br
						|I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech
						|and content optimization strategy, automated processes, provided reports, increased organic
						|traffic up to 150%.
					a(href='#') Annual company report 2016
				.experience_col_inner(data-aos="fade-up-right")
					p.experience_col_inner--date Август 2012 - Ноябрь 2013
					.experience_col_inner--row
						| Content Specialist
						img(src='/images/experience_o.png')
					.experience_col_inner--row.align-items-center
						img(src='/images/experience_company3.png').px-0
						p  21vek.by
						p.thin E-commerce store in Minsk, Belarus
					p.experience_col_inner--text Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.
				.experience_col_inner(data-aos="fade-up-right")
					p.experience_col_inner--date Август 2011 - Ноябрь 2014
					.experience_col_inner--row
						| Software Support Engineer
						img(src='/images/experience_g.png')
					.experience_col_inner--row.align-items-center
						img(src='/images/experience_company4.png').px-0
						p  Integral
						p.thin Microelectronics factory in Minsk, Belarus
					p.experience_col_inner--text Supported retail accounting system LS Trade, troubleshoot technical problems.

			.experience_col.man
				.experience_col--man
					img(src='/images/experience_man.png')
			.experience_col.education
				h4(data-aos="fade-down") Образование
				.experience_col_inner(data-aos="fade-up")
					img(src='/images/experienc_educat_1.png')
					p.bold Interface Design: <br> Web & Mobile
					p.m-0 IT-Academy, 2020
				.experience_col_inner(data-aos="fade-up")
					img(src='/images/experienc_educat_2.png').small
					p.bold Fundamentals of Usability
					p.m-0 Skillshare, Oct 2018
				.experience_col_inner(data-aos="fade-up")
					img(src='/images/experienc_educat_3.png').small
					p.bold CG Artist
					p.m-0 Polygon CG School, May-Sep 2017
				.experience_col_inner(data-aos="fade-up")
					img(src='/images/experienc_educat_4.png').small
					p.bold Graphic Design
					p.m-0 Belarusian State Academy of Arts, 2015 - 2017 Postgraduate Diploma
				.experience_col_inner(data-aos="fade-up")
					img(src='/images/experienc_educat_5.png').small
					p.bold SEO Specialist
					p.m-0 ARTOX Media, Jun-Aug 2012
				.experience_col_inner(data-aos="fade-up")
					img(src='/images/experienc_educat_6.png').small
					p.bold Information Technology Software
					p.m-0 Belarusian State University of Informatics and Radioelectronics, 2011 - 2015 Bachelor’s degree
					p.m-0 Polotsk State Economic College, 2007 - 2011 Associate’s degree
