.content
	.experience
		.row.justify-content-between
			.experience_col.standing
				h4 Опыт работы
				.experience_col_inner
					p.experience_col_inner--date Июль 2019
					.experience_col_inner--row
						| Freelance Designer
						img(src='/images/experience_fyb.png')
					p.experience_col_inner--text Netherlands, Worldwide
					p.experience_col_inner--text Available for a project or job in UX/UI, Visual and Product design.
					a(href='#') Commercial tryouts
					a(href='#') Personal projects
				.experience_col_inner
					p.experience_col_inner--date Январь 2017 - Сентябрь 2018
					.experience_col_inner--row
						| Digital Designer
						img(src='/images/experience_bp.png')
					.experience_col_inner--row.align-items-center
						img(src='/images/experience_company1.png').px-0
						p  J Creative Solutions
						p.thin Digital agency in Minsk, Belarus
					p.experience_col_inner--text Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations
						| for clients and indoor purposes.
					a(href='#') Agency projects
				.experience_col_inner
					p.experience_col_inner--date Март 2014 - Февраль 2017
					.experience_col_inner--row
						| SEO Specialist → Lead SEO Specialist
						img(src='/images/experience_ob.png')
					.experience_col_inner--row.align-items-center
						img(src='/images/experience_company2.png').px-0
						p  OZ.by
						p.thin Online bookstore in Minsk, Belarus
					p.experience_col_inner--text Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team,
						|I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech
						|and content optimization strategy, automated processes, provided reports, increased organic
						|traffic up to 150%.
					a(href='#') Annual company report 2016
				.experience_col_inner
					p.experience_col_inner--date Август 2012 - Ноябрь 2013
					.experience_col_inner--row
						| Content Specialist
						img(src='/images/experience_o.png')
					.experience_col_inner--row.align-items-center
						img(src='/images/experience_company3.png').px-0
						p  21vek.by
						p.thin E-commerce store in Minsk, Belarus
					p.experience_col_inner--text Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.
				.experience_col_inner
					p.experience_col_inner--date Август 2011 - Ноябрь 2014
					.experience_col_inner--row
						| Software Support Engineer
						img(src='/images/experience_g.png')
					.experience_col_inner--row.align-items-center
						img(src='/images/experience_company4.png').px-0
						p  Integral
						p.thin Microelectronics factory in Minsk, Belarus
					p.experience_col_inner--text Supported retail accounting system LS Trade, troubleshoot technical problems.

			.experience_col
			.experience_col
				h4 Образование
