.content
	.skills
		.row.m-0.p-0
			// TODO поправить картинку
			img(src='/images/skills_before.png').skills--before
		h4 Навыки
		.row.justify-content-between.m-0.skills_row
			.skills_inner
				p.bold Adobe Creative Suite
				p Photoshop, Illustrator, InDesign, XD, After Effects
			.skills_inner
				p.bold Prototyping
				p Sketch, Figma, InVision, Marvel, Principle, Balsamiq
			.skills_inner
				p.bold Additional
				p HTML, CSS, Google Analytics, Keynote, Miro
			.skills_inner
				p.bold Languages
				p Conversational English and Native Russian
