.content
	#skills.skills(data-scroll-section)
		.row.m-0.p-0
			img(src='/images/skills_before.png').skills--before
			img(src='/images/skills_before--small.png').skills--before.small
		h4(data-aos="fade-down") Навыки
		.row.justify-content-between.m-0.skills_row
			.skills_inner(data-aos="zoom-in-up")
				p.bold Adobe Creative Suite
				p Photoshop, Illustrator, InDesign, XD, After Effects
			.skills_inner(data-aos="zoom-in-up")
				p.bold Prototyping
				p Sketch, Figma, InVision, Marvel, Principle, Balsamiq
			.skills_inner(data-aos="zoom-in-up")
				p.bold Additional
				p HTML, CSS, Google Analytics, Keynote, Miro
			.skills_inner(data-aos="zoom-in-up")
				p.bold Languages
				p Conversational English and Native Russian
