extends pug/base

prepend vars
	- title = '<?= htmlspecialchars($title) ?>'
	- description = '<?= htmlspecialchars($description) ?>'
	- image = '<?= htmlspecialchars($image) ?>'

append vars
	//--

block content
	include pug/components/preloader
	include pug/components/header
	include pug/components/about
	include pug/components/experience
	include pug/components/skills
	include pug/components/emoji
	include pug/components/scrollArrow

