extends pug/base

prepend vars
	//-

append vars
	//-

block content
	.content
		header.header
			.row.p-0.m-0.justify-content-between.w-100

				img(src='/images/sprites/svg/man.svg').header_img
				.header_links
					a(href='#') Резюме
					a(href='#') О себе
					a(href='#') Навыки
