// stylelint-disable no-empty-source
@font-face {
	src: url("/fonts/SFProDisplay-Bold.woff") format("woff2"), url("/fonts/SFProDisplay-Bold.woff2") format("woff");
	font-family: "SF Pro Display";
	font-weight: 700;
	font-style: normal;
}
