// stylelint-disable at-rule-empty-line-before

/*@import "variables";
@import "functions";
@import "mixins";
@import "sprites";

@import "vendor";
@import "base";
@import "helpers";

@import "components/header";
@import "components/footer";

@import "pages/home";*/
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css ";
@import "_fonts.scss";


body {
	background-color: #FAFAFA;
}

a {
	text-decoration: none;

}

.content {
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;

}

.header {
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding-top: 100px;
	@media(max-width:1024px) {
		display: none;
	}
	&_links {
		width: auto;
		a {
			padding-left: 30px;
			width: auto;
			font-weight: 700;
			font-family: "SF Pro Display";
			color: #282A33;
			position: relative;
			&:active::after{
				content: url("../images/hover_link-active.png");
				position: absolute;
				z-index: -1;
				top: -90px;
				width: 166px;
				mix-blend-mode: normal;
				left: 0;
			}
		}


	}
	&_img{
		width: 150px;
		height: 150px;
	}
	&_modile{
		display: none;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		&-img{
			width: 50px;
		}
		@media(max-width: 1024px){
			display: flex;
		}
	}


}
